.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin-left: 27px;
  background: url(../../../images/logo.svg) 0 0 / contain no-repeat;
}

@media (min-width: 1024px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 0;
  }
}