.profile__subtitile {
  min-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .profile__subtitile {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    margin-left: 0;
  }
}