.header__items {
  display: none;
}

.header__component {
  display: none;
  align-items: center;
  margin: 6px 30px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media (min-width: 1024px) {
  .header__component {
    margin-right: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 1024px) {
  .header__component {
    display: none;
  }

  .header__items {
    display: flex;
  }

  .my-profile {
    display: none;
  }
}