.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 260px;
}

.login__title {
  margin: 0 auto 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__inputs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 140px;
  margin: 0 0 130px 0;
}

.login__input-wrapper {
  margin-bottom: 5px;
  min-height: 65px;
}

.login__input-text {
  width: 100%;
  border: 0;
  margin: 0 0 3px 0;
  padding: 0 0 11px 0;
  border-bottom: 2px solid #CCCCCC;
  background-color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
}

.login__input-text:focus {
  outline: none;
}

.login__register-btn {
  margin: 0 auto 15px;
  padding: 0;
  border: none;
  background-color: #fff;
  transition: .5s;
  border-radius: 2px;
  max-width: 358px;
  width: 100%;
  min-height: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
}

.login__register-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.login__register-btn_invalid {
  background: #F7F7F7;
  border: 1px solid #000000;
  color: #000000;
  opacity: 0.2;
}

.login__register-btn_invalid:hover {
  opacity: 0.2;
}

.login__additional-btn {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
}


@media (min-width: 1024px) {
  .login {
    max-width: 358px;
  }

  .login__title {
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 50px;
  }
  
  .login__inputs-wrapper {
    min-height: 110px;
    margin: 0 0 180px 0;
  }

  .login__register-btn {
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}